/*
0 - 600px:          Phone
600-900px:          Tablet portrait
900-1200px:         Table landscape
[1200 - 1800]   is where our normal styles apply
1800px+ :            Big desktop


$breakpoint argument choices
-phone
-tab-port
-tab-land
-big-desktop

ORDER:
base + typography
general layout + grid
page layout
components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }
  @media (max-width: 56.25em) {
    body {
      padding: 0rem; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    opacity: 0.5;
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    opacity: 0.5;
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff"); }

body {
  font-family: "San Francisco", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5em !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.background {
  background-image: url(/assets/meghan-holmes-779221-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh; }

.shade {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.64) 0%, rgba(12, 11, 11, 0) 100%);
  height: 100vh; }

.navigation {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: .5rem;
  height: 80px;
  z-index: 1000;
  border: 1px solid #707070;
  border-radius: 10px;
  position: absolute;
  top: 40px;
  left: 140px;
  width: 85vw;
  background: rgba(32, 32, 32, 0.623); }
  .navigation__logobox {
    padding-left: 20px; }
    .navigation__logobox svg {
      height: 40px;
      width: 73px;
      margin: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
  .navigation__links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center; }
  .navigation__list {
    display: flex;
    align-items: center; }
  .navigation__item {
    list-style: none;
    margin: 0 40px;
    padding: 6px 14px; }
    .navigation__item a:link,
    .navigation__item a:active,
    .navigation__item a:hover,
    .navigation__item a:visited {
      color: #fff;
      text-decoration: none;
      font-size: 1.4rem; }
    .navigation__item--selected {
      background: linear-gradient(to bottom, #28b0f2 0%, #3480e3 100%);
      border-radius: 5px; }
  .navigation__languagebox {
    display: flex;
    flex-direction: column;
    padding-right: 30px; }

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: 100%;
  min-width: 1px; }
