/*
0 - 600px:          Phone
600-900px:          Tablet portrait
900-1200px:         Table landscape
[1200 - 1800]   is where our normal styles apply
1800px+ :            Big desktop


$breakpoint argument choices
-phone
-tab-port
-tab-land
-big-desktop

ORDER:
base + typography
general layout + grid
page layout
components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  overflow-x: hidden;
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }
  @media (max-width: 56.25em) {
    body {
      padding: 0rem; } }

.shade {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.64) 0%, rgba(12, 11, 11, 0) 100%);
  height: 100vh; }

.section-divider {
  z-index: 100;
  height: 100px;
  background-image: linear-gradient(to right, #303030 0%, #0c0b0b 100%);
  width: 100vw;
  transform: skewY(-3deg) translate(0, -50px);
  position: relative;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070; }
  .section-divider__container {
    width: 85vw;
    margin: 0 auto; }
  .section-divider__text {
    font-size: 3.2rem;
    color: #28B0F2;
    font-weight: 400;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
    .section-divider__text span {
      color: #fff; }
  .section-divider__text2 {
    font-size: 1.6rem;
    color: #fff;
    font-weight: 800;
    position: absolute;
    top: 50%;
    right: 15vw;
    transform: translateY(-50%); }
    .section-divider__text2 span {
      color: #fff; }

@keyframes floatPast {
  0% {
    left: 2800px; }
  100% {
    left: -200px; } }

@keyframes floatY {
  0% {
    transform: translateY(0px); }
  25% {
    transform: translateY(20px); }
  50% {
    transform: translateY(0px); }
  75% {
    transform: translateY(20px); }
  100% {
    transform: translateY(0px); } }

@keyframes floatX {
  0% {
    transform: translateX(0px); }
  50% {
    transform: translateX(20px); }
  100% {
    transform: translateX(0px); } }

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5em !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn {
  text-decoration: none;
  color: #fff;
  background-image: linear-gradient(to bottom, #28b0f2 0%, #3480e3 100%); }
  .btn a:link,
  .btn a:active,
  .btn a:hover,
  .btn a:visited {
    color: #fff;
    text-decoration: none; }
  .btn-cta {
    font-size: 3.2rem;
    font-weight: 500;
    color: #fff;
    margin: 0 auto;
    padding: 5px 10px;
    border-radius: 5px; }
  .btn-cookie {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 2px 18px;
    border-radius: 5px; }

#cookies {
  display: block; }

.cookies {
  position: absolute;
  left: 140px;
  bottom: 60px;
  height: 150px;
  width: 300px;
  background-color: #fff;
  border-radius: 5px;
  z-index: 500; }
  .cookies__text {
    font-size: 12px;
    color: #707070;
    padding: 20px; }
  .cookies__cookie {
    height: 80px;
    width: 80px;
    position: absolute;
    bottom: -30px;
    left: -20px;
    z-index: 501; }

.card {
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 3px 20px rgba(83, 83, 83, 0.356);
  display: flex;
  background: #fff; }
  .card--highlighted {
    color: #fff;
    background: #000;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    border-radius: 5px;
    box-shadow: 0px 3px 20px rgba(83, 83, 83, 0.356); }
  .card__img {
    height: 100%;
    width: 80%;
    overflow: hidden;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    backface-visibility: hidden; }
    .card__img--highlighted {
      height: 50%;
      width: 100%;
      overflow: hidden;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px; }
      .card__img--highlighted img {
        width: 100%;
        transform: translateY(-15%); }
    .card__img img {
      height: 100%;
      transform: translateX(-10%); }
  .card__details {
    padding: 20px; }
    .card__details-title {
      font-size: 2.6rem;
      line-height: 2.8rem; }
    .card__details-subtitle {
      color: #b0afaf;
      font-weight: 300;
      font-size: 1rem;
      padding: 5px 0 0 0; }
    .card__details-text {
      padding-bottom: 10px; }
    .card__details-btn {
      padding: 5px 10px;
      margin-top: 10px;
      border-radius: 5px; }

.header__background {
  background-image: url(/assets/meghan-holmes-779221-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  width: 100vw; }

.header__intro {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 85vw;
  margin: 0 auto; }

.header__slogan {
  height: 340px;
  width: 50%; }
  .header__slogan-primary {
    font-size: 8rem;
    line-height: 8rem;
    font-weight: 700;
    color: #fff;
    text-shadow: 0px 0px 30px #000000; }
  .header__slogan-secondary {
    color: #28B0F2; }

.header__video {
  border: none;
  box-shadow: none; }

.header__box {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.navigation {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: .5rem;
  height: 80px;
  z-index: 1000;
  border: 1px solid #707070;
  border-radius: 10px;
  position: absolute;
  top: 40px;
  left: 140px;
  width: 85%;
  background: rgba(32, 32, 32, 0.623);
  overflow: hidden; }
  .navigation__logobox {
    padding-left: 20px; }
    .navigation__logobox svg {
      height: 40px;
      width: 73px;
      margin: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
  .navigation__links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center; }
  .navigation__list {
    display: flex;
    align-items: center; }
  .navigation__item {
    list-style: none;
    margin: 0 40px;
    padding: 6px 14px; }
    .navigation__item a:link,
    .navigation__item a:active,
    .navigation__item a:hover,
    .navigation__item a:visited {
      color: #fff;
      text-decoration: none;
      font-size: 1.4rem; }
    .navigation__item--selected {
      background: linear-gradient(to bottom, #28b0f2 0%, #3480e3 100%);
      border-radius: 5px; }
  .navigation__languagebox {
    display: flex;
    flex-direction: column;
    padding-right: 30px; }

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: 100%;
  min-width: 1px; }

.services {
  position: relative;
  margin-top: 80px;
  min-height: 100vh; }
  .services__container {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 200px 200px 200px;
    grid-column-gap: 2%;
    grid-row-gap: 40px;
    width: 80%;
    margin: 0 auto; }
  .services__consultation {
    grid-column: 1 / 1;
    grid-row: 1 / 1; }
  .services__plans {
    grid-column: 1 / 1;
    grid-row: 2 / 2; }
  .services__diet {
    grid-column: 1 / 1;
    grid-row: 3 / 3; }
  .services__personal {
    grid-column: 2 / 2;
    grid-row: 1 / 4; }

.services:before {
  content: "";
  background-image: linear-gradient(to bottom, rgba(53, 53, 53, 0.397) 0%, white 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: -27%;
  left: 0;
  z-index: -1;
  transform: skewY(-3deg) translate(0, -50px); }

.reviews {
  position: relative;
  overflow: hidden; }
  .reviews__background {
    min-height: 100vh;
    width: 100vw; }
    .reviews__background-square {
      background: rgba(40, 175, 242, 0.692); }
      .reviews__background-square--top {
        width: 33vw;
        height: 45%;
        position: absolute;
        top: -100px;
        right: -100px;
        border-bottom-left-radius: 55px;
        transform: rotate(-1deg); }
      .reviews__background-square--middle {
        width: 70%;
        height: 80%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        transform: rotate(-3deg);
        border-radius: 55px; }
      .reviews__background-square--bottom {
        width: 33vw;
        height: 55%;
        position: absolute;
        bottom: -40px;
        left: -100px;
        border-top-right-radius: 55px;
        transform: rotate(-7deg); }
  .reviews__container {
    position: absolute;
    left: 50%;
    top: 8%;
    width: 50%;
    height: 40%;
    transform: translateX(-50%);
    z-index: 50; }
  .reviews__screen {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
    width: 80%;
    background: #fff;
    border-radius: 25px; }
    .reviews__screen--logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .reviews__screen--logo svg {
        height: 50%; }
    .reviews__screen--prev {
      position: absolute;
      top: 0;
      left: -5px; }
      .reviews__screen--prev svg {
        transform: rotate(180deg); }
    .reviews__screen--next {
      position: absolute;
      bottom: 0;
      right: -5px; }
  .reviews__bubbles {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100vw;
    min-height: 460px; }
    .reviews__bubbles__list {
      list-style: none; }
    .reviews__bubbles__bubble {
      position: absolute;
      top: -100px;
      animation: floatX 32s infinite linear forwards, floatPast 64s infinite linear -45s; }
      .reviews__bubbles__bubble__outer-circ {
        position: relative;
        height: 175px;
        width: 175px;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0px 6px 20px rgba(134, 134, 134, 0.692);
        animation: floatY 20s infinite ease-out forwards; }
      .reviews__bubbles__bubble__inner-circ {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 152px;
        width: 152px;
        border-radius: 50%;
        overflow: hidden; }
        .reviews__bubbles__bubble__inner-circ img {
          height: 100%; }
    .reviews__bubbles__bubble2 {
      position: absolute;
      top: 0;
      animation: floatX 32s infinite linear forwards, floatPast 64s infinite linear -37s; }
      .reviews__bubbles__bubble2__outer-circ {
        position: relative;
        height: 175px;
        width: 175px;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0px 6px 20px rgba(134, 134, 134, 0.692);
        animation: floatY 18s infinite linear 3s; }
      .reviews__bubbles__bubble2__inner-circ {
        position: absolute;
        top: 50%;
        left: 50%;
        background: red;
        transform: translate(-50%, -50%);
        height: 152px;
        width: 152px;
        border-radius: 50%;
        overflow: hidden; }
        .reviews__bubbles__bubble2__inner-circ img {
          height: 100%; }
    .reviews__bubbles__bubble3 {
      position: absolute;
      top: 200px;
      animation: floatX 16s infinite linear 3s, floatPast 64s infinite linear -25s; }
      .reviews__bubbles__bubble3__outer-circ {
        position: relative;
        height: 175px;
        width: 175px;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0px 6px 20px rgba(134, 134, 134, 0.692);
        animation: floatY 24s infinite ease-in 4s; }
      .reviews__bubbles__bubble3__inner-circ {
        position: absolute;
        top: 50%;
        left: 50%;
        background: red;
        transform: translate(-50%, -50%);
        height: 152px;
        width: 152px;
        border-radius: 50%;
        overflow: hidden; }
        .reviews__bubbles__bubble3__inner-circ img {
          height: 100%; }
    .reviews__bubbles__bubble4 {
      position: absolute;
      top: 300px;
      animation: floatX 25.6s infinite linear 3s, floatPast 64s infinite linear -10s; }
      .reviews__bubbles__bubble4__outer-circ {
        position: relative;
        height: 175px;
        width: 175px;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0px 6px 20px rgba(134, 134, 134, 0.692);
        animation: floatY 24s infinite ease-in 2s; }
      .reviews__bubbles__bubble4__inner-circ {
        position: absolute;
        top: 50%;
        left: 50%;
        background: red;
        transform: translate(-50%, -50%);
        height: 152px;
        width: 152px;
        border-radius: 50%;
        overflow: hidden; }
        .reviews__bubbles__bubble4__inner-circ img {
          height: 100%; }
    .reviews__bubbles__bubble5 {
      position: absolute;
      top: 166px;
      animation: floatX 16s infinite linear 1s, floatPast 64s infinite linear -5s; }
      .reviews__bubbles__bubble5__outer-circ {
        position: relative;
        height: 175px;
        width: 175px;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0px 6px 20px rgba(134, 134, 134, 0.692);
        animation: floatY 24s infinite ease-in 1s; }
      .reviews__bubbles__bubble5__inner-circ {
        position: absolute;
        top: 50%;
        left: 50%;
        background: red;
        transform: translate(-50%, -50%);
        height: 152px;
        width: 152px;
        border-radius: 50%;
        overflow: hidden; }
        .reviews__bubbles__bubble5__inner-circ img {
          height: 100%; }
    .reviews__bubbles__bubble6 {
      position: absolute;
      top: 360px;
      animation: floatX 16s infinite linear 2s, floatPast 64s infinite linear -37s; }
      .reviews__bubbles__bubble6__outer-circ {
        position: relative;
        height: 175px;
        width: 175px;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0px 6px 20px rgba(134, 134, 134, 0.692);
        animation: floatY 24s infinite ease-in 2s; }
      .reviews__bubbles__bubble6__inner-circ {
        position: absolute;
        top: 50%;
        left: 50%;
        background: red;
        transform: translate(-50%, -50%);
        height: 152px;
        width: 152px;
        border-radius: 50%;
        overflow: hidden; }
        .reviews__bubbles__bubble6__inner-circ img {
          height: 100%; }
    .reviews__bubbles__bubble7 {
      position: absolute;
      top: 220px;
      animation: floatX 16s infinite linear 1s, floatPast 64s infinite linear -16s; }
      .reviews__bubbles__bubble7__outer-circ {
        position: relative;
        height: 175px;
        width: 175px;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0px 6px 20px rgba(134, 134, 134, 0.692);
        animation: floatY 24s infinite ease-in 1s; }
      .reviews__bubbles__bubble7__inner-circ {
        position: absolute;
        top: 50%;
        left: 50%;
        background: red;
        transform: translate(-50%, -50%);
        height: 152px;
        width: 152px;
        border-radius: 50%;
        overflow: hidden; }
        .reviews__bubbles__bubble7__inner-circ img {
          height: 100%; }
    .reviews__bubbles__bubble8 {
      position: absolute;
      top: 380px;
      animation: floatX 16s infinite linear 4s, floatPast 64s infinite linear -28s; }
      .reviews__bubbles__bubble8__outer-circ {
        position: relative;
        height: 175px;
        width: 175px;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0px 6px 20px rgba(134, 134, 134, 0.692);
        animation: floatY 24s infinite ease-in; }
      .reviews__bubbles__bubble8__inner-circ {
        position: absolute;
        top: 50%;
        left: 50%;
        background: red;
        transform: translate(-50%, -50%);
        height: 152px;
        width: 152px;
        border-radius: 50%;
        overflow: hidden; }
        .reviews__bubbles__bubble8__inner-circ img {
          height: 100%; }
    .reviews__bubbles__bubble9 {
      position: absolute;
      top: 120px;
      animation: floatX 16s infinite linear 4s, floatPast 64s infinite linear -32s; }
      .reviews__bubbles__bubble9__outer-circ {
        position: relative;
        height: 175px;
        width: 175px;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0px 6px 20px rgba(134, 134, 134, 0.692);
        animation: floatY 24s infinite ease-in 15s; }
      .reviews__bubbles__bubble9__inner-circ {
        position: absolute;
        top: 50%;
        left: 50%;
        background: red;
        transform: translate(-50%, -50%);
        height: 152px;
        width: 152px;
        border-radius: 50%;
        overflow: hidden; }
        .reviews__bubbles__bubble9__inner-circ img {
          height: 100%; }
    .reviews__bubbles__bubble10 {
      position: absolute;
      top: 5px;
      animation: floatX 16s infinite linear 1s, floatPast 64s infinite linear -20s; }
      .reviews__bubbles__bubble10__outer-circ {
        position: relative;
        height: 175px;
        width: 175px;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0px 6px 20px rgba(134, 134, 134, 0.692);
        animation: floatY 24s infinite ease-in 15s; }
      .reviews__bubbles__bubble10__inner-circ {
        position: absolute;
        top: 50%;
        left: 50%;
        background: red;
        transform: translate(-50%, -50%);
        height: 152px;
        width: 152px;
        border-radius: 50%;
        overflow: hidden; }
        .reviews__bubbles__bubble10__inner-circ img {
          height: 100%; }
    .reviews__bubbles__bubble11 {
      position: absolute;
      top: 250px;
      animation: floatX 16s infinite linear 2s, floatPast 64s infinite linear -48s; }
      .reviews__bubbles__bubble11__outer-circ {
        position: relative;
        height: 175px;
        width: 175px;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0px 6px 20px rgba(134, 134, 134, 0.692);
        animation: floatY 24s infinite ease-in 15s; }
      .reviews__bubbles__bubble11__inner-circ {
        position: absolute;
        top: 50%;
        left: 50%;
        background: red;
        transform: translate(-50%, -50%);
        height: 152px;
        width: 152px;
        border-radius: 50%;
        overflow: hidden; }
        .reviews__bubbles__bubble11__inner-circ img {
          height: 100%; }
    .reviews__bubbles__bubble12 {
      position: absolute;
      top: 400px;
      animation: floatX 16s infinite linear 5s, floatPast 64s infinite linear -55s; }
      .reviews__bubbles__bubble12__outer-circ {
        position: relative;
        height: 175px;
        width: 175px;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0px 6px 20px rgba(134, 134, 134, 0.692);
        animation: floatY 24s infinite ease-in 15s; }
      .reviews__bubbles__bubble12__inner-circ {
        position: absolute;
        top: 50%;
        left: 50%;
        background: red;
        transform: translate(-50%, -50%);
        height: 152px;
        width: 152px;
        border-radius: 50%;
        overflow: hidden; }
        .reviews__bubbles__bubble12__inner-circ img {
          height: 100%; }
    .reviews__bubbles__bubble13 {
      position: absolute;
      top: 70px;
      animation: floatX 16s infinite linear 4s, floatPast 64s infinite linear -54s; }
      .reviews__bubbles__bubble13__outer-circ {
        position: relative;
        height: 175px;
        width: 175px;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0px 6px 20px rgba(134, 134, 134, 0.692);
        animation: floatY 24s infinite ease-in 15s; }
      .reviews__bubbles__bubble13__inner-circ {
        position: absolute;
        top: 50%;
        left: 50%;
        background: red;
        transform: translate(-50%, -50%);
        height: 152px;
        width: 152px;
        border-radius: 50%;
        overflow: hidden; }
        .reviews__bubbles__bubble13__inner-circ img {
          height: 100%; }
    .reviews__bubbles__bubble14 {
      position: absolute;
      top: -40px;
      animation: floatX 16s infinite linear 4s, floatPast 64s infinite linear -28s; }
      .reviews__bubbles__bubble14__outer-circ {
        position: relative;
        height: 175px;
        width: 175px;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0px 6px 20px rgba(134, 134, 134, 0.692);
        animation: floatY 24s infinite ease-in 15s; }
      .reviews__bubbles__bubble14__inner-circ {
        position: absolute;
        top: 50%;
        left: 50%;
        background: red;
        transform: translate(-50%, -50%);
        height: 152px;
        width: 152px;
        border-radius: 50%;
        overflow: hidden; }
        .reviews__bubbles__bubble14__inner-circ img {
          height: 100%; }
    .reviews__bubbles__bubble15 {
      position: absolute;
      top: -40px;
      animation: floatX 16s infinite linear 2s, floatPast 64s infinite linear -14s; }
      .reviews__bubbles__bubble15__outer-circ {
        position: relative;
        height: 175px;
        width: 175px;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0px 6px 20px rgba(134, 134, 134, 0.692);
        animation: floatY 24s infinite ease-in 15s; }
      .reviews__bubbles__bubble15__inner-circ {
        position: absolute;
        top: 50%;
        left: 50%;
        background: red;
        transform: translate(-50%, -50%);
        height: 152px;
        width: 152px;
        border-radius: 50%;
        overflow: hidden; }
        .reviews__bubbles__bubble15__inner-circ img {
          height: 100%; }
    .reviews__bubbles__bubble16 {
      position: absolute;
      top: 340px;
      animation: floatX 16s infinite linear 2s, floatPast 64s infinite linear -65s; }
      .reviews__bubbles__bubble16__outer-circ {
        position: relative;
        height: 175px;
        width: 175px;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0px 6px 20px rgba(134, 134, 134, 0.692);
        animation: floatY 24s infinite ease-in 15s; }
      .reviews__bubbles__bubble16__inner-circ {
        position: absolute;
        top: 50%;
        left: 50%;
        background: red;
        transform: translate(-50%, -50%);
        height: 152px;
        width: 152px;
        border-radius: 50%;
        overflow: hidden; }
        .reviews__bubbles__bubble16__inner-circ img {
          height: 100%; }
    .reviews__bubbles__bubble17 {
      position: absolute;
      top: 400px;
      animation: floatX 16s infinite linear 4s, floatPast 64s infinite linear -45s; }
      .reviews__bubbles__bubble17__outer-circ {
        position: relative;
        height: 175px;
        width: 175px;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0px 6px 20px rgba(134, 134, 134, 0.692);
        animation: floatY 24s infinite ease-in 15s; }
      .reviews__bubbles__bubble17__inner-circ {
        position: absolute;
        top: 50%;
        left: 50%;
        background: red;
        transform: translate(-50%, -50%);
        height: 152px;
        width: 152px;
        border-radius: 50%;
        overflow: hidden; }
        .reviews__bubbles__bubble17__inner-circ img {
          height: 100%; }
    .reviews__bubbles__bubble18 {
      position: absolute;
      top: -50px;
      animation: floatX 16s infinite linear 4s, floatPast 64s infinite linear -68s; }
      .reviews__bubbles__bubble18__outer-circ {
        position: relative;
        height: 175px;
        width: 175px;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0px 6px 20px rgba(134, 134, 134, 0.692);
        animation: floatY 24s infinite ease-in 15s; }
      .reviews__bubbles__bubble18__inner-circ {
        position: absolute;
        top: 50%;
        left: 50%;
        background: red;
        transform: translate(-50%, -50%);
        height: 152px;
        width: 152px;
        border-radius: 50%;
        overflow: hidden; }
        .reviews__bubbles__bubble18__inner-circ img {
          height: 100%; }
    .reviews__bubbles__bubble19 {
      position: absolute;
      top: 400px;
      animation: floatX 16s infinite linear, floatPast 64s infinite linear -19s; }
      .reviews__bubbles__bubble19__outer-circ {
        position: relative;
        height: 175px;
        width: 175px;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0px 6px 20px rgba(134, 134, 134, 0.692);
        animation: floatY 24s infinite ease-in 15s; }
      .reviews__bubbles__bubble19__inner-circ {
        position: absolute;
        top: 50%;
        left: 50%;
        background: red;
        transform: translate(-50%, -50%);
        height: 152px;
        width: 152px;
        border-radius: 50%;
        overflow: hidden; }
        .reviews__bubbles__bubble19__inner-circ img {
          height: 100%; }
    .reviews__bubbles__bubble20 {
      position: absolute;
      top: 30px;
      animation: floatX 16s infinite linear 4s, floatPast 64s infinite linear -62s; }
      .reviews__bubbles__bubble20__outer-circ {
        position: relative;
        height: 175px;
        width: 175px;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0px 6px 20px rgba(134, 134, 134, 0.692);
        animation: floatY 24s infinite ease-in 15s; }
      .reviews__bubbles__bubble20__inner-circ {
        position: absolute;
        top: 50%;
        left: 50%;
        background: red;
        transform: translate(-50%, -50%);
        height: 152px;
        width: 152px;
        border-radius: 50%;
        overflow: hidden; }
        .reviews__bubbles__bubble20__inner-circ img {
          height: 100%; }

.reviews:before {
  content: "";
  background-image: linear-gradient(to bottom, rgba(53, 53, 53, 0.397) 0%, white 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transform: skewY(-3deg) translate(0, -50px); }

.contact {
  position: relative;
  min-height: 100vh;
  width: 100vw; }
  .contact a {
    text-decoration: none; }
  .contact__grid {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 400px 400px;
    grid-column-gap: 2%;
    grid-row-gap: 40px;
    width: 80%;
    margin: 0 auto; }
    .contact__grid--messenger {
      grid-column: 1 / 1;
      grid-row: 1 / 1;
      position: relative; }
    .contact__grid--whatsapp {
      position: relative;
      grid-column: 3 / 3;
      grid-row: 1 / 1; }
    .contact__grid--portrait {
      background: yellow;
      grid-column: 2 / 3;
      grid-row: 1 / 3; }
    .contact__grid--email {
      position: relative;
      grid-column: 1 / 1;
      grid-row: 2 / 2; }
    .contact__grid--call {
      background: blue;
      grid-column: 3 / 4;
      grid-row: 2 / 3; }

.contact:before {
  content: "";
  background-image: linear-gradient(to bottom, rgba(53, 53, 53, 0.397) 0%, white 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transform: skewY(-3deg) translate(0, -50px); }

.messenger {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .messenger__background {
    position: relative;
    height: 90px;
    width: 90px;
    background: #fff;
    border-radius: 50%; }
    .messenger__background svg {
      height: 70%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -48%); }
  .messenger__name {
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 14px; }

.whatsapp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .whatsapp__container {
    position: relative;
    height: 90px;
    width: 90px;
    overflow: hidden; }
    .whatsapp__container svg {
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -48%); }
  .whatsapp__name {
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 14px; }

.email {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .email__container {
    position: relative;
    height: 90px;
    width: 90px;
    margin: 0 auto; }
    .email__container svg {
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -48%); }
  .email__name {
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    text-shadow: 1px 1px 3px #949494; }
