//colors
$color-primary: #28B0F2;
$color-primary-btn: linear-gradient(to bottom, rgba(40,176,242,1) 0%,rgba(52,128,227,1) 100%);
$color-nav: rgba(32, 32, 32, 0.623);
$color-shade: linear-gradient(to bottom, rgba(0,0,0,0.64) 0%,rgba(12,11,11,0) 100%);
$color-black-light: #2d2d2d;
$color-black: #000;

$color-grey-dark: #707070;
$color-grey-light: #b0afaf;

$color-white: #fff;
$color-black: #000;



//font

$default-font-size: 1.6rem;