.contact {
    position: relative;
    min-height: 100vh;
    width: 100vw;

    a {
        text-decoration: none;
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 2%;
        grid-row-gap: 40px;
        width: 80%;
        margin: 0 auto;

        &--map {
            grid-column: 1 / 2;
            grid-row: 1 / 1;
            background: red;
            height: 400px;
            
        }
        &--contact-form {
            
            grid-column: 2 / 3;
            grid-row: 1 / 1;
            background: blue;
            height: 400px;
        }
        
    }
}

.contact:before {
    content: "";
    background-image: linear-gradient(to bottom, rgba(53, 53, 53, 0.397) 0%,rgb(255, 255, 255) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transform: skewY(-3deg) translate(0,-50px);
}



