.header {
  position: relative;
  min-height: 100vh;

  @include respond(tab-port) {
    min-height: 80rem;
  }

  &__background {
    position: absolute;
    background-image: url(/assets/meghan-holmes-779221-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -5;
    transform: skewY(-3deg);
  }

  &__intro {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 80%;
    height: 100vh;
    @include respond(tab-port) {
      display: block;
      height: 100vh;
    }

    img {
      margin-top: 10rem;
      height: 84%;

      @include respond(tab-port) {
        display: none;
      }
    }

    @include respond(tab-port) {
      flex-direction: column;
    }

    @include respond(phone) {
      width: 100vw;
    }
    @include respond(sm-phone) {
      min-height: 35rem;
    }
  }

  &__slogan {
    height: 34rem;
    width: 50%;
    margin-top: 10rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include respond(tab-port) {
      width: 100%;
      height: 100%;
      padding: 3rem;
      text-align: center;
    }

    @include respond(phone) {
      margin-top: 7rem;
    }

    &-primary {
      font-size: 7rem;
      line-height: 8rem;
      font-weight: 700;
      color: #fff;
      text-shadow: 0rem 0rem 3rem #000000;

      @include respond(tab-land) {
        font-size: 6rem;
        line-height: 6.5rem;
      }

      @include respond(tab-port) {
        font-size: 5.5rem;
        line-height: 7rem;
      }
      @include respond(phone) {
        font-size: 4.5rem;
        line-height: 5rem;
      }
    }

    &-secondary {
      color: $color-primary;

      font-size: 4rem;

      font-family: "Dancing Script", cursive;
      span {
        color: #fff;
      }
    }
  }

  &__video {
    border: none;
    box-shadow: none;
    margin-top: 10rem;
    @include respond(tab-land) {
      width: 50%;
    }

    @include respond(tab-port) {
      width: 70%;
      margin: 0 auto;
    }
    @include respond(phone) {
      width: 100%;
      margin: 0 auto;
      padding: 2rem;
      height: 35rem;
    }
  }
}
