.navigation {
    
    
    
    
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background: $color-nav;
    overflow: hidden;
    

    &__container {
        width: 85%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding: .5rem;
        height: 60px;
    }

    &__logobox {
        padding-left: 20px;

      svg {
        height: 40px;
        width: 73px;
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        
      }
    }

    &__links {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    &__list {
        display: flex;
        // width: 50rem;
        // justify-content: space-between;
        // align-self: flex-end;
        align-items: center;
    }

    &__item {
        list-style: none;
        margin: 0 40px;
        padding: 6px 14px;
        

        a:link,
        a:active,
        a:hover,
        a:visited{
            color: #fff;
            text-decoration: none;
            font-size: 1.4rem;
        }

        &:hover {
            background-image: linear-gradient(to bottom, rgba(40,176,242,1) 0%,rgba(52,128,227,1) 100%);
            border-radius: 5px;
        }

        &--selected {
            background-image: linear-gradient(to bottom, rgba(40,176,242,1) 0%,rgba(52,128,227,1) 100%);
            border-radius: 5px;
            
        }
    }

    &__languagebox {
        display: flex;
        flex-direction: column;
        padding-right: 30px;

    }
}

.text{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display:block;
    width:100%;
    min-width:1px;
  }