.packages {

    &__container {
        display: flex;
        justify-content: space-evenly;
    }

    &__beginner {
        
        background: linear-gradient(to left, #0575e6, #021b79);
    }
    &__commited {
        background: linear-gradient(234deg, #FDC830, #F37335);
    }
    &__achiever {
        background: linear-gradient(to right, #ff416c, #ff4b2b);
    }
}