.reviews:before {
    content: "";
    background-image: linear-gradient(to bottom, rgba(53, 53, 53, 0.397) 0%,rgb(255, 255, 255) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transform: skewY(-3deg) translate(0,-50px);
}

.reviews {
    position: relative;
    // overflow-x: hidden;
    width: 100vw;
    min-height: 100vh;

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        // z-index: -50;
        height: 100%;
        width: 100vw;

        &-square {
            background: rgba(40, 175, 242, 0.692);

            &--top {
                width: 33vw;
                height: 45%;
                position: absolute;
                top: -100px;
                right: -100px;
                border-bottom-left-radius: 55px;
                transform: rotate(-1deg);
            }

            &--middle {
                width: 70%;
                height: 80%;
                position: absolute;
                left: 0;
                right: 0;
                top:0;
                bottom:0;
                margin: auto;
                transform: rotate(-3deg);
                border-radius: 55px;
            }

            &--bottom {
                width: 33vw;
                height: 55%;
                position: absolute;
                bottom: -40px;
                left: -100px;
                border-top-right-radius: 55px;
                transform: rotate(-7deg);
            }
        }
    }

    

    &__screen {
        position: relative;
        left: 50%;
        top: 100px;
        border-radius: 10px;
        // height: auto;
        width: 50%;
        background: #fff;
        // border-radius: 50%;
        transform: skewY(-3deg) translateX(-50%);
        z-index: 50;
        // margin-top: 10rem;

    }

    &__bubbles {
        position: absolute;
        top:0;
        left:0;
        width: 100vw;
        height: 100%;
        // min-height: 460px;
        // overflow-y: hidden;
        
        &__list {
            list-style: none;
            
        }

        &__bubble {
            position: absolute;
            top: -100px;
            animation: floatX 3.2s*10 infinite linear forwards, floatPast 3.2s*20 infinite linear -45s;
            


            &__outer-circ {
                
                position: relative;
                height: 175px;
                width: 175px;
                border-radius: 50%;
                background: #fff;      
                box-shadow: 0px 6px 20px rgba(134, 134, 134, 0.692);
                animation: floatY 20s infinite ease-out forwards;      
                
            }

            &__inner-circ {
                position: absolute;
                top:50%;
                left:50%;
                transform: translate(-50%, -50%);
                height: 152px;
                width: 152px;
                border-radius: 50%;
                overflow: hidden;
                img {
                    height: 100%;

                    
                }
            }
        }

        &__bubble2 {
            position: absolute;
            top: 0;
            animation: floatX 3.2s*10 infinite linear forwards, floatPast 3.2s*20 infinite linear -37s;
            

            &__outer-circ {
                
                position: relative;
                height: 175px;
                width: 175px;
                border-radius: 50%;
                background: #fff;      
                box-shadow: 0px 6px 20px rgba(134, 134, 134, 0.692);
                animation:floatY $timing*15 infinite linear 3s;      
            }

            &__inner-circ {
                position: absolute;
                top:50%;
                left:50%;
                background: red;
                transform: translate(-50%, -50%);
                height: 152px;
                width: 152px;
                border-radius: 50%;
                overflow: hidden;
                img {
                    height: 100%;

                    
                }
            }
        }
        &__bubble3 {
            position: absolute;
            top: 100%;
            animation: floatX 3.2s*5 infinite linear 3s, floatPast 3.2s*20 infinite linear -25s;
            

            &__outer-circ {
                
                position: relative;
                height: 175px;
                width: 175px;
                border-radius: 50%;
                background: #fff;      
                box-shadow: 0px 6px 20px rgba(134, 134, 134, 0.692);
                animation:floatY $timing*20 infinite ease-in 4s;      
            }

            &__inner-circ {
                position: absolute;
                top:50%;
                left:50%;
                background: red;
                transform: translate(-50%, -50%);
                height: 152px;
                width: 152px;
                border-radius: 50%;
                overflow: hidden;
                img {
                    height: 100%;

                    
                }
            }
        }
        &__bubble4 {
            position: absolute;
            top: 100%;
            animation: floatX 3.2s*8 infinite linear 3s, floatPast 3.2s*20 infinite linear -10s;
            

            &__outer-circ {
                
                position: relative;
                height: 175px;
                width: 175px;
                border-radius: 50%;
                background: #fff;      
                box-shadow: 0px 6px 20px rgba(134, 134, 134, 0.692);
                animation:floatY $timing*20 infinite ease-in 2s;      
            }

            &__inner-circ {
                position: absolute;
                top:50%;
                left:50%;
                background: red;
                transform: translate(-50%, -50%);
                height: 152px;
                width: 152px;
                border-radius: 50%;
                overflow: hidden;
                img {
                    height: 100%;

                    
                }
            }
        }
        &__bubble5 {
            position: absolute;
            top: 25%;
            animation: floatX 3.2s*5 infinite linear 1s, floatPast 3.2s*20 infinite linear -5s;
            

            &__outer-circ {
                
                position: relative;
                height: 175px;
                width: 175px;
                border-radius: 50%;
                background: #fff;      
                box-shadow: 0px 6px 20px rgba(134, 134, 134, 0.692);
                animation:floatY $timing*20 infinite ease-in 1s;      
            }

            &__inner-circ {
                position: absolute;
                top:50%;
                left:50%;
                background: red;
                transform: translate(-50%, -50%);
                height: 152px;
                width: 152px;
                border-radius: 50%;
                overflow: hidden;
                img {
                    height: 100%;

                    
                }
            }
        }
        &__bubble6 {
            position: absolute;
            top: 35%;
            animation: floatX 3.2s*5 infinite linear 2s, floatPast 3.2s*20 infinite linear -37s;
            

            &__outer-circ {
                
                position: relative;
                height: 175px;
                width: 175px;
                border-radius: 50%;
                background: #fff;      
                box-shadow: 0px 6px 20px rgba(134, 134, 134, 0.692);
                animation:floatY $timing*20 infinite ease-in 2s;      
            }

            &__inner-circ {
                position: absolute;
                top:50%;
                left:50%;
                background: red;
                transform: translate(-50%, -50%);
                height: 152px;
                width: 152px;
                border-radius: 50%;
                overflow: hidden;
                img {
                    height: 100%;

                    
                }
            }
        }
        &__bubble7 {
            position: absolute;
            top: 100%;
            animation: floatX 3.2s*5 infinite linear 1s, floatPast 3.2s*20 infinite linear -16s;
            

            &__outer-circ {
                
                position: relative;
                height: 175px;
                width: 175px;
                border-radius: 50%;
                background: #fff;      
                box-shadow: 0px 6px 20px rgba(134, 134, 134, 0.692);
                animation:floatY $timing*20 infinite ease-in 1s;      
            }

            &__inner-circ {
                position: absolute;
                top:50%;
                left:50%;
                background: red;
                transform: translate(-50%, -50%);
                height: 152px;
                width: 152px;
                border-radius: 50%;
                overflow: hidden;
                img {
                    height: 100%;

                    
                }
            }
        }
        &__bubble8 {
            position: absolute;
            top: 100%;
            animation: floatX 3.2s*5 infinite linear 4s, floatPast 3.2s*20 infinite linear -28s;
            

            &__outer-circ {
                
                position: relative;
                height: 175px;
                width: 175px;
                border-radius: 50%;
                background: #fff;      
                box-shadow: 0px 6px 20px rgba(134, 134, 134, 0.692);
                animation:floatY $timing*20 infinite ease-in;      
            }

            &__inner-circ {
                position: absolute;
                top:50%;
                left:50%;
                background: red;
                transform: translate(-50%, -50%);
                height: 152px;
                width: 152px;
                border-radius: 50%;
                overflow: hidden;
                img {
                    height: 100%;

                    
                }
            }
        }
        &__bubble9 {
            position: absolute;
            top: 100%;
            animation: floatX 3.2s*5 infinite linear 4s, floatPast 3.2s*20 infinite linear -32s;
            

            &__outer-circ {
                
                position: relative;
                height: 175px;
                width: 175px;
                border-radius: 50%;
                background: #fff;      
                box-shadow: 0px 6px 20px rgba(134, 134, 134, 0.692);
                animation:floatY $timing*20 infinite ease-in 15s;      
            }

            &__inner-circ {
                position: absolute;
                top:50%;
                left:50%;
                background: red;
                transform: translate(-50%, -50%);
                height: 152px;
                width: 152px;
                border-radius: 50%;
                overflow: hidden;
                img {
                    height: 100%;

                    
                }
            }
        }
        &__bubble10 {
            position: absolute;
            top: 100%;
            animation: floatX 3.2s*5 infinite linear 1s, floatPast 3.2s*20 infinite linear -20s;
            

            &__outer-circ {
                
                position: relative;
                height: 175px;
                width: 175px;
                border-radius: 50%;
                background: #fff;      
                box-shadow: 0px 6px 20px rgba(134, 134, 134, 0.692);
                animation:floatY $timing*20 infinite ease-in 15s;      
            }

            &__inner-circ {
                position: absolute;
                top:50%;
                left:50%;
                background: red;
                transform: translate(-50%, -50%);
                height: 152px;
                width: 152px;
                border-radius: 50%;
                overflow: hidden;
                img {
                    height: 100%;

                    
                }
            }
        }
        &__bubble11 {
            position: absolute;
            top: 100%;
            animation: floatX 3.2s*5 infinite linear 2s, floatPast 3.2s*20 infinite linear -48s;
            

            &__outer-circ {
                
                position: relative;
                height: 175px;
                width: 175px;
                border-radius: 50%;
                background: #fff;      
                box-shadow: 0px 6px 20px rgba(134, 134, 134, 0.692);
                animation:floatY $timing*20 infinite ease-in 15s;      
            }

            &__inner-circ {
                position: absolute;
                top:50%;
                left:50%;
                background: red;
                transform: translate(-50%, -50%);
                height: 152px;
                width: 152px;
                border-radius: 50%;
                overflow: hidden;
                img {
                    height: 100%;

                    
                }
            }
        }
        &__bubble12 {
            position: absolute;
            top: 100%;
            animation: floatX 3.2s*5 infinite linear 5s, floatPast 3.2s*20 infinite linear -55s;
            

            &__outer-circ {
                
                position: relative;
                height: 175px;
                width: 175px;
                border-radius: 50%;
                background: #fff;      
                box-shadow: 0px 6px 20px rgba(134, 134, 134, 0.692);
                animation:floatY $timing*20 infinite ease-in 15s;      
            }

            &__inner-circ {
                position: absolute;
                top:50%;
                left:50%;
                background: red;
                transform: translate(-50%, -50%);
                height: 152px;
                width: 152px;
                border-radius: 50%;
                overflow: hidden;
                img {
                    height: 100%;

                    
                }
            }
        }
        &__bubble13 {
            position: absolute;
            top: 100%;
            animation: floatX 3.2s*5 infinite linear 4s, floatPast 3.2s*20 infinite linear -54s;
            

            &__outer-circ {
                
                position: relative;
                height: 175px;
                width: 175px;
                border-radius: 50%;
                background: #fff;      
                box-shadow: 0px 6px 20px rgba(134, 134, 134, 0.692);
                animation:floatY $timing*20 infinite ease-in 15s;      
            }

            &__inner-circ {
                position: absolute;
                top:50%;
                left:50%;
                background: red;
                transform: translate(-50%, -50%);
                height: 152px;
                width: 152px;
                border-radius: 50%;
                overflow: hidden;
                img {
                    height: 100%;

                    
                }
            }
        }
        &__bubble14 {
            position: absolute;
            top: 100%;
            animation: floatX 3.2s*5 infinite linear 4s, floatPast 3.2s*20 infinite linear -28s;
            

            &__outer-circ {
                
                position: relative;
                height: 175px;
                width: 175px;
                border-radius: 50%;
                background: #fff;      
                box-shadow: 0px 6px 20px rgba(134, 134, 134, 0.692);
                animation:floatY $timing*20 infinite ease-in 15s;      
            }

            &__inner-circ {
                position: absolute;
                top:50%;
                left:50%;
                background: red;
                transform: translate(-50%, -50%);
                height: 152px;
                width: 152px;
                border-radius: 50%;
                overflow: hidden;
                img {
                    height: 100%;

                    
                }
            }
        }
        &__bubble15 {
            position: absolute;
            top: -40px;
            animation: floatX 3.2s*5 infinite linear 2s, floatPast 3.2s*20 infinite linear -14s;
            

            &__outer-circ {
                
                position: relative;
                height: 175px;
                width: 175px;
                border-radius: 50%;
                background: #fff;      
                box-shadow: 0px 6px 20px rgba(134, 134, 134, 0.692);
                animation:floatY $timing*20 infinite ease-in 15s;      
            }

            &__inner-circ {
                position: absolute;
                top:50%;
                left:50%;
                background: red;
                transform: translate(-50%, -50%);
                height: 152px;
                width: 152px;
                border-radius: 50%;
                overflow: hidden;
                img {
                    height: 100%;

                    
                }
            }
        }
        &__bubble16 {
            position: absolute;
            top: 340px;
            animation: floatX 3.2s*5 infinite linear 2s, floatPast 3.2s*20 infinite linear -65s;
            

            &__outer-circ {
                
                position: relative;
                height: 175px;
                width: 175px;
                border-radius: 50%;
                background: #fff;      
                box-shadow: 0px 6px 20px rgba(134, 134, 134, 0.692);
                animation:floatY $timing*20 infinite ease-in 15s;      
            }

            &__inner-circ {
                position: absolute;
                top:50%;
                left:50%;
                background: red;
                transform: translate(-50%, -50%);
                height: 152px;
                width: 152px;
                border-radius: 50%;
                overflow: hidden;
                img {
                    height: 100%;

                    
                }
            }
        }
        &__bubble17 {
            position: absolute;
            top: 400px;
            animation: floatX 3.2s*5 infinite linear 4s, floatPast 3.2s*20 infinite linear -45s;
            

            &__outer-circ {
                
                position: relative;
                height: 175px;
                width: 175px;
                border-radius: 50%;
                background: #fff;      
                box-shadow: 0px 6px 20px rgba(134, 134, 134, 0.692);
                animation:floatY $timing*20 infinite ease-in 15s;      
            }

            &__inner-circ {
                position: absolute;
                top:50%;
                left:50%;
                background: red;
                transform: translate(-50%, -50%);
                height: 152px;
                width: 152px;
                border-radius: 50%;
                overflow: hidden;
                img {
                    height: 100%;

                    
                }
            }
        }
        &__bubble18 {
            position: absolute;
            top: -50px;
            animation: floatX 3.2s*5 infinite linear 4s, floatPast 3.2s*20 infinite linear -68s;
            

            &__outer-circ {
                
                position: relative;
                height: 175px;
                width: 175px;
                border-radius: 50%;
                background: #fff;      
                box-shadow: 0px 6px 20px rgba(134, 134, 134, 0.692);
                animation:floatY $timing*20 infinite ease-in 15s;      
            }

            &__inner-circ {
                position: absolute;
                top:50%;
                left:50%;
                background: red;
                transform: translate(-50%, -50%);
                height: 152px;
                width: 152px;
                border-radius: 50%;
                overflow: hidden;
                img {
                    height: 100%;

                    
                }
            }
        }
        &__bubble19 {
            position: absolute;
            top: 400px;
            animation: floatX 3.2s*5 infinite linear, floatPast 3.2s*20 infinite linear -19s;
            

            &__outer-circ {
                
                position: relative;
                height: 175px;
                width: 175px;
                border-radius: 50%;
                background: #fff;      
                box-shadow: 0px 6px 20px rgba(134, 134, 134, 0.692);
                animation:floatY $timing*20 infinite ease-in 15s;      
            }

            &__inner-circ {
                position: absolute;
                top:50%;
                left:50%;
                background: red;
                transform: translate(-50%, -50%);
                height: 152px;
                width: 152px;
                border-radius: 50%;
                overflow: hidden;
                img {
                    height: 100%;

                    
                }
            }
        }
        &__bubble20 {
            position: absolute;
            top: 30px;
            animation: floatX 3.2s*5 infinite linear 4s, floatPast 3.2s*20 infinite linear -62s;
            

            &__outer-circ {
                
                position: relative;
                height: 175px;
                width: 175px;
                border-radius: 50%;
                background: #fff;      
                box-shadow: 0px 6px 20px rgba(134, 134, 134, 0.692);
                animation:floatY $timing*20 infinite ease-in 15s;      
            }

            &__inner-circ {
                position: absolute;
                top:50%;
                left:50%;
                background: red;
                transform: translate(-50%, -50%);
                height: 152px;
                width: 152px;
                border-radius: 50%;
                overflow: hidden;
                img {
                    height: 100%;

                    
                }
            }
        }


    }
}



