.reviews {
    position: relative;

    &__background {
        min-height: 100vh;
        width: 100vw;

        &-square {
            background: rgba(40, 175, 242, 0.692);

            &--top {
                width: 33vw;
                height: 45%;
                position: absolute;
                top: -100px;
                right: -100px;
                border-bottom-left-radius: 55px;
                transform: rotate(-1deg);
            }

            &--middle {
                width: 70%;
                height: 80%;
                position: absolute;
                left: 0;
                right: 0;
                top:0;
                bottom:0;
                margin: auto;
                transform: rotate(-3deg);
                border-radius: 55px;
            }

            &--bottom {
                width: 33vw;
                height: 55%;
                position: absolute;
                bottom: -40px;
                left: -100px;
                border-top-right-radius: 55px;
                transform: rotate(-7deg);
            }
        }
    }

    &__container {
        position: absolute;
        left: 50%;
        top: 8%;
        width: 50%;
        height: 40%;
        transform: translateX(-50%);
        z-index: 50;
    }

    &__screen {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        height: 100%;
        width: 80%;
        background: #fff;
        border-radius: 25px;

        &--logo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
    
            svg {
                height: 50%;
            }
        }

        &--prev {
            position: absolute;
            top: 0;
            left: -5px;
            
            svg {
            transform: rotate(180deg);
            }
            
        }

        &--next {
            position: absolute;
            bottom: 0;
            right: -5px;
        }
    }

    &__bubbles {
        position: absolute;
        top:100px;
        left:0;
        width: 3000px;
        min-height: 460px;
        
        &__list {
            list-style: none;
        }

        &__bubble {
            position: absolute;
            transition: transform 10s linear;
            transform: rotate(0deg);

            &__outer-circ {
                position: relative;
                height: 175px;
                width: 175px;
                border-radius: 50%;
                background: #fff;      
                box-shadow: 0px 6px 20px rgba(134, 134, 134, 0.692)      
            }

            &__inner-circ {
                position: absolute;
                top:50%;
                left:50%;
                background: red;
                transform: translate(-50%, -50%);
                height: 152px;
                width: 152px;
                border-radius: 50%;
                overflow: hidden;
                img {
                    height: 100%;

                    
                }
            }
        }


    }
}

.reviews:before {
    content: "";
    background-image: linear-gradient(to bottom, rgba(53, 53, 53, 0.397) 0%,rgb(255, 255, 255) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transform: skewY(-3deg) translate(0,-50px);
}