.bubble {
    
    // animation: floatX 3.2s*10 infinite linear forwards, floatPast 3.2s*20 infinite linear -45s;
    margin: 0 auto;


    &__outer-circ {
        cursor: pointer;
        position: relative;
        height: 20rem;
        width: 20rem;
        border-radius: .5rem;
        transform: skewY(-3deg);
        background: #fff;      
        box-shadow: 0rem .6rem 2rem rgba(134, 134, 134, 0.692);
        margin: 1.5rem;
        // animation: floatY 20s infinite ease-out forwards;      
        
    }

    &__inner-circ {
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        height: 17.5rem;
        width: 17.5rem;
        border-radius: .5rem;
        overflow: hidden;

        img {
            height: 100%;
        }
    }
}