.btn {
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(to bottom, rgba(40,176,242,1) 0%,rgba(52,128,227,1) 100%);
    cursor: pointer;
    

    

    

    &-cta {
        // height: 72px;
        // width: 373px;
        font-size: 3rem;
        font-weight: 500;
        color: #fff;
        margin: 5rem auto;
        padding: 1rem 6rem;
        border-radius: .5rem;
        position: relative;
        transform: skewY(-3deg);
        box-shadow: 0rem 0rem 2rem rgb(65, 65, 65);
        transition: all .4s;

        @include respond(phone) { //width < 1200px
           font-size: 2em;
           padding: 1rem 3rem;
        }
        @include respond(sm-phone) { //width < 1200px
           font-size: 2em;
           padding: 1rem 2rem;
        }
        
    }

    &-cta:hover {
        
        transform: scale(1.05);
        transition: all .4s;
        //border: 3px solid #fff;
        box-shadow: none;
    }

    
}