.card {
    position: relative;
    border-radius: .5rem;
    
    display: flex;
    
    background: #000;
    color: #fff;
    
    

    &__main {
        color: #fff;
        background: #000;
        // display: flex;
        // flex-direction: column;
        // justify-content: space-evenly;
        // backface-visibility: hidden;
        border-radius: .5rem;
        box-shadow:         0rem .3rem 2rem rgba(83, 83, 83, 0.356);
        position: relative;
        // padding: 5%;
        
        
        &__container {
            padding: 5rem;

             ul {
                list-style-type: none;
             }

            h2 {
                text-align: center;
            }

            h3 {
                padding-top: 2rem;
                padding-bottom: 2rem;
            }
        }
        
    
        &-title {
            // position: absolute;
            // bottom: 20px;
            font-size: 2.6rem;
            // padding: 10px;
            line-height: 2.8rem;
            margin-bottom: 3rem;
            
            span {
                 color: $color-primary;
                 font-weight: 200;
                 font-size: 80%;
                 font-style: italic;
            }

            &-accent {
                
            }
        }
    
        &-subtitle {

            color: $color-grey-light;
            font-weight: 300;
            font-size: 1rem;
            padding: .5rem 0 0 0;
        }
    
        &-text {
            // text-align: center;
            
            // padding: 4rem;
            font-size: 1.4rem;
            line-height: 2rem;
            font-weight: 400;

            span {
                color: $color-primary;
            }

        }

        &-btn {
            margin: 0 auto;
            width: 40%;
            // display: inline-block;
            text-align: center;
            padding: 1.5rem 3rem;
            font-size: 2rem;
            border-radius: .5rem;
            
            &-back {
                padding: .5rem 1rem;
                position: absolute;
                bottom: 5%;
                left: 5%;
                border-radius: .5rem;
                
                
            }
        }
        

        &__img {
            height: 20rem;
            width: 100%;
            margin: 0 auto;
            
            background-size: cover;
            background-position: center;
            border-top-left-radius: .5rem;
            border-top-right-radius: .5rem;

            &-personal {
                background-image: url(/assets/training.jpg);
            }
            &-consult {
                background-image: url(/assets/danielle-cerullo-782570-unsplash.jpg);
            }
            &-plans {
                background-image: url(/assets/meghan-holmes-1057329-unsplash.jpg);
                
            }
            &-diet {
                background-image: url(/assets/buffet-chicken-cooking-5938.jpg);
            }
        }
    }
    

    &__details{
        z-index: 2;
        padding: 2rem;
        position: relative;

        &-title {
            position: absolute;
            bottom: 2rem;
            font-size: 2.6rem;
            line-height: 2.8rem;
            
        }
    
    }

}



.overlay {
    display: block;
    position: absolute;
    text-shadow: .1rem .1rem .6rem #000;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%,rgba(0, 0, 0, 0.65) 100%);
    border-radius: .5rem;
    z-index: 1;
}


#personalCard,
#consultCard,
#planCard,
#dietCard {
    cursor: pointer;
    
}