.card {
    position: relative;
    border-radius: 5px;
    box-shadow:         0px 3px 20px rgba(83, 83, 83, 0.356);
    display: flex;
    background: #fff;
    

    &--highlighted {
        color: #fff;
        background: #000;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        backface-visibility: hidden;
        
        

    }

    &__img {
        height: 100%;
        width: 60%;
        min-width: 150px;
        overflow: hidden;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        position: relative;
        
        img {
            height: 100%;
            position: absolute;
            right: 0;

            
        }

    }

    &__img--highlighted {
        height: 33%;
        width: 100%;
        overflow: hidden;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        

        img {
            width: 100%;
            
            // transform: translateY(-15%);
            
                /* default value: image is centered*/
            // object-position: 0 0; /* positioned top left of the content box */
        }
    }
        
        
    

    &__details{
        
        padding: 20px;
        &-title {
            font-size: 2.6rem;
            // padding: 10px;
            line-height: 2.8rem;
        }
    
        &-subtitle {
            color: $color-grey-light;
            font-weight: 300;
            font-size: 1rem;
            padding: 5px 0 0 0;
        }
    
        &-text {
            padding-bottom: 10px;
        }

        &-btn {
            padding: 5px 10px;
            margin-top: 10px;
            border-radius: 5px;
        }
    }

    


}

