.card {
    position: relative;
    &--reversed {

    }

    &--highlighted {

    }

    &__img {
        height: 100%;
        width: 40%;
        background-image: url(/assets/plans.jpeg);
        background-position: center; 
        position: absolute;
        top:0;
        right: 0;
    }

    &__title {

    }

    &__subtitle {

    }

    &__text {

    }


}