.contact__form {
    box-shadow: 0px 0px 80px rgba(0, 0, 0, .5);
    border-radius: 10px;

    &-container {
        display: flex;
        flex-direction: column;
        justify-content: start;
        height: 100%;
        padding: 20px;
        border-radius: 10px;
        background-color: rgb(231, 231, 231);
        position: relative;
    }

    h6 {
        font-size: 24px;
        margin-bottom: 16px;
        line-height: 24px;
        text-align: center;
    }
    &-email {
        border-radius: 10px;
        border: none;
        height: 40px;
        font-size: 16px;
        padding: 10px;
        margin-bottom: 20px;
        font-family: Rubik;
    }

    &-text {
        border-radius: 10px;
        resize: none;
        height: 70%;
        margin-bottom: 20px;
        font-size: 16px;
        padding: 10px;
        border: none;
        font-family: Rubik;
    }

    &-button {
        display: inline-block;
        border: none;
        padding: 3px 40px;
        border-radius: 5px;
        font-size: 18px;
        height: 34px;
        width: 40%;
        margin: 0 auto;
        
    }
}