.package {
  border-radius: 0.5rem;
  padding: 3.5rem;
  width: 33%;

  @include respond(tab-port) {
    padding: 1rem;
    border-radius: 10px;
  }

  @include respond(phone) {
    width: 88%;
    margin-bottom: 3rem;
  }
  @include respond(sm-phone) {
    padding: 1rem;
    width: 88%;
    margin: 0 auto;
  }

  &__head {
    @include respond(tab-port) {
      border-top: none;
      padding: 1rem;
    }
  }

  &__heading {
    text-align: center;
    font-size: 4rem;
    position: relative;

    @include respond(tab-port) {
      font-size: 2.8rem;
    }

    @include respond(phone) {
      font-size: 2.1rem;
    }
    @include respond(sm-phone) {
      font-size: 4rem;
    }
  }

  &__price {
    font-size: 6rem;
    text-align: center;
    font-weight: 700;
    span {
      font-size: 3rem;
      font-weight: 400;
      padding: 1rem;

      @include respond(tab-port) {
        padding: 0.1rem;
      }
    }
  }
  &__body {
    border-top: 0.1rem solid $color-grey-light;
    padding: 1rem;
    font-size: 2.2rem;
    line-height: 3.2rem;

    @include respond(tab-port) {
      border-top: none;
      padding: 0;
      font-size: 2rem;
    }
    @include respond(phone) {
      border-top: none;
      width: 70%;
      font-size: 2rem;
      margin: 0 auto;
    }
    @include respond(sm-phone) {
      border-top: none;
      width: 100%;
      font-size: 2rem;
      margin: 0 auto;
    }

    &__disabled {
      color: rgba(0, 0, 0, 0.6);
    }

    svg {
      height: 1.2rem;
    }
  }

  &__buy {
    border: 0.2rem solid #fff;
    text-align: center;
    border-radius: 1.5rem;
    margin-top: 1.5rem;
    padding: 0.5rem;
    font-size: 1.1rem;
    font-weight: 500;
    background: #fff;
    color: #000;
    transition: all 0.2s;

    @include respond(tab-port) {
      width: 40%;
      margin: 0 auto;
      margin-top: 1.5rem;
    }
  }

  &__buy:hover {
    transform: scale(1.2);
    transition: all 0.2s;
  }
}

.beginner__heading::after {
  height: 150px;
  width: 100%;
  background-color: #f5c7f77a;
  content: "";
  position: absolute;
  bottom: -50px;
  left: 0;
  z-index: -1;
  transform: skewX(-6deg) skewY(-6deg);
  border-radius: 5px;
  @include respond(tab-port) {
    width: 100%;
    height: 50px;
    bottom: 0;
  }
}
.committed__heading::after {
  height: 150px;
  width: 100%;
  background-color: #c8e6f565;
  content: "";
  position: absolute;
  bottom: -50px;
  left: 0;
  z-index: -1;
  transform: skewX(-6deg) skewY(-6deg);
  border-radius: 5px;
  @include respond(tab-port) {
    width: 100%;
    height: 50px;
    bottom: 0;
  }
}
.achiever__heading::after {
  width: 100%;
  background-color: #94e73652;
  content: "";
  position: absolute;
  height: 150px;
  bottom: -50px;
  left: 0;
  z-index: -1;
  transform: skewX(-6deg) skewY(-6deg);
  border-radius: 5px;

  @include respond(tab-port) {
    width: 100%;
    height: 50px;
    bottom: 0;
  }
}
