*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    
    //this defines what 1rem is
    font-size: 62.5%;//1rem = 10px 10px / 16px = 62.5%


    @include respond(tab-land) { //width < 1200px
        font-size: 56.25%;
    }

    @include respond(tab-port) {  //width < 900px
        font-size: 50%;//1rem = 8px, 8/16 = 50%
    }

    @include respond(big-desktop) { //width > 1800px
        font-size: 75%;
    }

}


body {
    box-sizing: border-box;
    //padding: 3rem;


    @include respond(tab-port) {
        padding: 0rem;
    }
}

.shade {
    position: absolute;
    top: 0;
    left: 0;
    background: $color-shade;
    height: 100vh;
}

.section-divider {
    z-index: 100;
    height: 100px;
    background-image: linear-gradient(to right, rgb(48, 48, 48) 0%,rgb(12,11,11) 100%);;
    width: 100vw;
    transform: skewY(-3deg) translate(0,-50px);
    position: relative;
    border-top: 1px solid $color-grey-dark;
    border-bottom: 1px solid $color-grey-dark;

    &__container {
        width: 85vw;
        margin: 0 auto;
        
    }

    &__text {
        font-size: 3.2rem;
        color: $color-primary;
        font-weight: 400;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        span {
            color: #fff;
        }
    }
    &__text2 {
        font-size: 1.6rem;
        color: #fff;
        font-weight: 800;
        position: absolute;
        top: 50%;
        right: 15vw;
        transform: translateY(-50%);

        span {
            color: #fff;
        }
    }
}

html,
body {
    overflow-x: hidden;
    position: relative;
    
}

a:link,
    a:active,
    a:hover,
    a:visited{
        color: #fff;
        text-decoration: none;
        
    }